proyectofinalwebbas.lat {
  encode zstd gzip

  # Optional: trust proxy headers if behind another LB (not needed in typical VPS)
  # servers {
  #   trust_proxy
  # }

  # API -> backend
  @api path /api*
  handle @api {
    reverse_proxy api:8080
  }

  # UI -> frontend
  handle {
    reverse_proxy ui:80
  }
}
